
<table class="ui celled padded table">
  <thead>
  <tr>
    <th>Date/Time</th>
    <th>Code</th>
    <th>Temperature (<span>&#176;</span>C)</th>
    <th>Wind Speed (km/hr)</th>
    <th>Wind Direction (<span>&#176;</span>)</th>
    <th>Pressure (mbar)</th>
  </tr>
  </thead>
  
  <tbody>
    {{#each readings}}
    
      <tr>
          <td>
            
          </td>
          <td>
            {{code}}
          </td>
          <td>
            {{temperature}}
          </td>
          <td>
            {{windSpeed}}
          </td>
          <td>
            {{windDirection}}
          </td>
          <td>
            {{pressure}}
          </td>
          <td>
            <a href="/stations/{{../station.id}}/deleteReading/{{reading.id}}"><i class="red trash link icon"></i></a>
          </td>
      </tr>
    
    {{/each}}
  </tbody>
  
</table>
